# basic ownership split for reviews

*                                           @org/engineering

/api/app/                                   @org/developers
/api/requirements*.txt                      @org/developers

/api/tests/                                 @org/qa @org/developers

/terraform/                                 @org/devops

/terragrunt/                                @org/devops

/.github/workflows/                         @org/devops
/github-actions-templates/                  @org/devops
/.checkov.yaml                              @org/devops
